In [1]:
print('Hello')

Hello

In [2]:
Print('ello')

NameError: name 'Print' is not defined

In [3]:
print("Found a capital error above")

Found a capital error above

In [4]:
print('New')

New

Thats the basic above.

In [1]:
2+3

5

In [2]:
5*25

125

In [3]:
2^3

1

In [4]:
2 ** 3

8

In [5]:
1/2

0.5

In [6]:
a = 5

In [7]:
a

5

In [8]:
a = 10

In [9]:
a

10

In [10]:
type(a)

int

In [11]:
a = "Tilak"

In [12]:
a

'Tilak'

In [13]:
type(a)

str

In [14]:
a=10.5

In [15]:
a

10.5

In [16]:
type(a)

float

In [8]:
my_name = "Tilak"

my_lastname = "Suryawanshi"

my_fullname = my_name + my_lastname

In [18]:
my_fullname

'TilakSuryawanshi'

In [19]:
type(my_fullname)

str

In [9]:
print(my_fullname)

TilakSuryawanshi

String SLicing and steping starting and stoping

In [16]:
my_fullname[0:15:2]

'Tlkuywnh'

In [20]:
print("tilak {1} not {1}".format('is', 'affraid') )

tilak affraid not affraid

In [22]:
print("this {i} {n} {a}".format(i='is', n='not', a='affraid'))

this is not affraid

In [24]:
number = 12.123456

In [27]:
print('this is your no {n:2.4f}'.format(n=number))

this is your no 12.1235

In [28]:
#or use this method

In [29]:
name = 'Tilak'

In [30]:
age = 25

In [31]:
print(f'{name} is {age} years old.')

Tilak is 25 years old.

# lists in python

In [1]:
my_list = ['one', 'two', 3]

In [2]:
another_list = [4, 'five']

In [3]:
new_list = my_list + another_list

In [4]:
new_list

['one', 'two', 3, 4, 'five']

In [5]:
#you can change items in the list

In [7]:
new_list[0] = 'ONE ALL CAPS'

In [8]:
new_list

['ONE ALL CAPS', 'two', 3, 4, 'five']

In [ ]:
#you can add an item in the list as the end

In [9]:
new_list.append('six')

In [10]:
new_list

['ONE ALL CAPS', 'two', 3, 4, 'five', 'six']

In [11]:
#you can remove an item from the list

In [12]:
new_list.pop()

'six'

In [13]:
new_list

['ONE ALL CAPS', 'two', 3, 4, 'five']

In [14]:
new_list.pop(2)

3

In [15]:
new_list

['ONE ALL CAPS', 'two', 4, 'five']

In [16]:
#you can sort the list

In [22]:
string_list = ['b', 'a', 'c', 'd', 'e']

In [23]:
string_list.sort()

In [24]:
string_list

['a', 'b', 'c', 'd', 'e']

In [25]:
num_list = [1,3,2,4,6,5]

In [26]:
num_list.sort()

In [27]:
num_list

[1, 2, 3, 4, 5, 6]

In [ ]:
#You can reverse the list also

In [28]:
num_list.reverse()

In [29]:
num_list

[6, 5, 4, 3, 2, 1]

In [30]:
string_list

['a', 'b', 'c', 'd', 'e']

In [31]:
string_list.reverse()

In [32]:
string_list

['e', 'd', 'c', 'b', 'a']

In [1]:
#while loop

i=0

while i<5:      # will run for 0,1,2,3,4
    print("GeeksforGeeks")
    i =i+1

print()

GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks

In [2]:
i=1

while i<5:      # will run for 1,2,3,4
    print("GeeksforGeeks")
    i =i+1

GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks

In [4]:
#run for n

n= int(input("Enter n:\n"))

i=0
while i<n:      # will run for 0,1,2,3,4...n-1
    print("GeeksforGeeks")
    i =i+1

Enter n:
10
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks
GeeksforGeeks

In [5]:
#Ranges in python

r = range(5)

print(r)

l = list(r)     # range to list
print(l)

range(0, 5)
[0, 1, 2, 3, 4]

In [6]:
r = range(10,20)    # range with start and stop

print(r)

l = list(r)

print(l)
print()

range(10, 20)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [7]:
r = range(-2,2)
    
print(r)

l = list(r)

print(l)

range(-2, 2)
[-2, -1, 0, 1]

In [8]:
r = range(10,20,2)    # range with start and stop, and end

print(r)

l = list(r)

print(l)
print()

range(10, 20, 2)
[10, 12, 14, 16, 18]

In [9]:
r = range(20,10,-2)    # range with start and stop, and step

print(r)

l = list(r)

print(l)
print()

range(20, 10, -2)
[20, 18, 16, 14, 12]

In [10]:
r = range(20,10,-3)    # range with start and stop, and step

print(r)

l = list(r)

print(l)
print()

range(20, 10, -3)
[20, 17, 14, 11]

In [11]:
#For loop

In [13]:
l=[10,20,30,40]       #list

for x in l:
    print(x)

10
20
30
40

In [15]:
s="gfg"

for f in s:
    print(f)
    print(f)

g
g
f
f
g
g

In [16]:
l = [10,20,30,40]

for x in l:
    print(x)
print()

s = "gfg"

for x in s:
    print(x)

10
20
30
40

g
f
g

In [17]:
for x in range(5):
    print(x)

0
1
2
3
4

In [18]:
for x in range(20):
    
    if x%6==0:
        print(x)

0
6
12
18

In [19]:
l = [10,20,30,40]

for i in range(len(l)):
    print(l[i])             # using index to  access list
    
print()
for i in range(len(l)):
    print(i,l[i])

10
20
30
40

0 10
1 20
2 30
3 40

In [21]:
n = int(input("Enter n:\n"))

for x in range(2, n + 1):
    if n % x == 0:
        print(x)
        break

Enter n:
2
2

In [22]:
print("\n while loop")

x=2

while x<=n:
    if n%x ==0:
        print(x)
        break
    x = x+1

 while loop
2

In [23]:
i=1

while i<=5:
    
    if i==3:
        break
    print(i)
    
    i=i+1

print(i)

1
2
3

In [25]:
#continue function

l = [10,16,17,18,19,15]

for x in l:
    if x%5==0:      # if multiple of 5, continue
        continue
    print(x)
    

print()
for x in l:
    if x%5!=0:
        print(x)

16
17
18
19

16
17
18
19

In [26]:
i = 0

while i <= 5:

    if i == 3:
        i = i + 1
        continue
    print(i, i * i)
    i = i + 1

0 0
1 1
2 4
4 16
5 25

In [27]:
l = [10, 16, 17, 18, 9, 15,21,13]

for x in l:
    if x % 5 == 0:
        continue
    
    if x%7==0:
        continue
        
    print(x)
print("Bye")

16
17
18
9
13
Bye

In [28]:
#Nested Loops

for i in range(1,11):
    for j in range(i,i*10+1,i):
        print(j,end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [29]:
for i in range(1,3):
    
    j=1
    while j<3:
        print(i,j)
        j=j+1
    
    print("gfg")

1 1
1 2
gfg
2 1
2 2
gfg

In [30]:
ll = [[10,20,30],[40,50,60],[70,80]]

for l in ll:
    for x in l:
        print(x,end = " ")
    print()

10 20 30
40 50 60
70 80